<!DOCTYPE html>
<html>
  <head>
    <title>holololo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to my homepage <%= title %></p>
  </body>
</html>
